


 tr:hover {
      background-color: yellow;
      color: red;


    }

 tr:nth-child(even) {
  background: rgba(0,0,0,.04);
}   

tr:nth-child(1)
 {
  background: black;
  color: yellow;
}   

.AnchorButton
{
	padding: 3px
}

@media only screen and (max-width: 600px) {
  body {
    background-color: white
  }
}

.mystyle {
  /*width: 100%;
  
  background-color: coral;
  color: white;
  font-size: 25px;*/
  margin: 10px;

  padding: 10px;
}