        #LemonH1{
            font-family: forte;
            text-decoration: underline;
        }

        #stupidity
        {
            display:none;
        }

        .pics
            {
                width:30vw;
                height: 40vh;
                border:.15vw solid beige;
                margin:.21vw;
                padding: .31vw;
                float:right;

            }
        #NorthAfrica
        {
            width:50vw;
            height: 40vh;

        }

         body 
        {
           background-color: #999;
           margin: 1vw;
            padding: 1vw;
        }
        .Youtube_Video{
            margin: .21vw;
            padding: .1vw;
            border: .4vw red solid;
           width: 40vw;
            height: 40vh;
        }
        @media screen and (max-width: 980px) 
        {
            body 
            {
               background-color: #9942ae;
            }
            #baksa
            {
                    background-image:  url('../img/teetam.jpg');
                    width:30vw;

                    height:39vh;
                    position: relative;
                    top: 100px;
                    margin:10px;
                    padding: 5px;
                    border:2px white solid;
                    background-repeat: no-repeat;
                        background-position:-59px -157px;
                    background-size: 129%;
            }

            #naksa
            {

                background-image: url(../img/teetam.jpg);
                width: 30vw;
                height: 39vh;
                position: relative;
                top: 100px;
                margin: 10px;
                padding: 5px;
                border: 2px white solid;
                background-repeat: no-repeat;
                background-position: -116px -165px;
                background-size: 162%;
            }
            #hum{

                margin: 1vw;
                padding: 1vw;
                border: 2px red solid;
                width: 60vw;
                height: 40vh;

                
            }
            .Youtube_Video{
                margin: 2vw;
                padding: 1vw;
                border: .4vw red solid;
               width: 70vw;
                height: 40vh;
            }
            #secondVideo
            {
                margin: 1vw;
                padding: 1vw;
                border: 2px red solid;
                width: 95vw;
                height: 99vh;  
            }
            
        }


        @media screen and (max-width: 680px)
         {
                body 
                {
                    background-color: salmon;
                    

                }
                .Youtube_Video
                {
                        margin: 2vw;
                        padding: 1vw;
                        border: 1vw white solid;
                       width: 90vw;
                        height: 60vh;
                }   
        }

        @media screen and (max-width:480px)
         {
                body {
                    background-color: black;
                    color:yellow;
                    

                }
                .pics
            {
                width:90vw;
                height: 48vh;
                border:1.15vw solid beige;
                margin:1.41vw;
                padding: 1.41vw;
                float:right;

            }
               #NorthAfrica
                {
                    width:170vw;
                    height: 60vh;
                    border: none;
                    margin:.41vw;
                    padding: .41vw;

                }
        }

